@font-face {
    font-family: "Montserrat";
    font-style: normal;
    src: local("Monlight");
    url("fonts/Montserrat-Light.ttf") format("ttf");
}

.button {
    -fx-font-family: "Monlight";
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: rgba(0, 125, 215, 0);
    -fx-font-size: 24px;
}
.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #9b9d9e 0%, #7a7c7d 100%),
            #7a7c7d,
            #9b9d9e,
            radial-gradient(center 50% 50%, radius 100%, #9b9d9e, #7a7c7d);
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
.text{
    -fx-font-family: "Monlight";
}